<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/datatables/datatables.min.css"/>
    <script src="static/js/jquery.js" ></script>
    <title>{{if .Title}} {{.Title}} {{else}} Go Chat-ify! {{end}}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4" style="text-align:right;font-size:20px; font-weight:bold;">Go Chat-ify</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link {{.Home}}" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/login" class="nav-link {{.Login}}">Login</a></li>
            <li class="nav-item"><a href="/signup" class="nav-link {{.Register}}">Register</a></li>
            <li class="nav-item"><a href="/chats" class="nav-link {{.Chats}}">Chats</a></li>
          </ul>
        </header>
      </div>
    <div class="container-fluid">
